upload_workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -96,
        96
      ],
      "id": "8206e7f0-ad72-4d02-b9d1-c369a26b1137",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        96
      ],
      "id": "b98f1a04-3208-4e7f-838f-062214d83f62",
      "name": "Webhook",
      "webhookId": "712e8b23-3fa4-4d4f-b03b-7c2a3b4e43e1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd9e37dd-25ca-4777-8335-523ab4838fd4",
              "leftValue": "={{$json.text}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        96
      ],
      "id": "a0b31c54-09f8-44f9-9207-81bc781a0330",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\n\nconst chunkSize = 500;\nconst overlap = 100;\n\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += (chunkSize - overlap)) {\n  chunks.push({\n    json: {\n      chunk: text.substring(i, i + chunkSize)\n    }\n  });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        192
      ],
      "id": "02a6b616-8b9d-4592-9e33-2526dcf20aee",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        192
      ],
      "id": "155c635e-9eff-42f2-8731-aa4b01e1f5ed",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AQ.Ab8RN6KtUJPXTwFuMOtQrp2qS0-Lj2L4lOOxOGiIp442oqyKhQ"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "models/gemini-embedding-001"
            },
            {
              "name": "content.parts[0].text",
              "value": "={{$json.chunk}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        400
      ],
      "id": "140bb2a7-2213-4bcc-b2e7-154264e288b7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const embedding = $json.embedding.values;\nconst chunk = $('Loop Over Items').item.json.chunk;\n\nconst generateUUID = () => {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n};\n\nreturn {\n  json: {\n    id: generateUUID(),\n    embedding,\n    chunk\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        448
      ],
      "id": "9cfa5249-ec3a-4a46-9652-3112d29f949d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://18df8386-b521-4db1-8e3b-b7b5cd2bbf1e.sa-east-1-0.aws.cloud.qdrant.io/collections/research_documents/points?wait=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwic3ViamVjdCI6ImFwaS1rZXk6N2VhOTZkNzktNjIwYi00MGI3LThiMTAtZmFkMzU1MmNiOGMzIn0.-qPq-HUaudYSrNpafXIqQpUiZ1uBbuvWXWOHeEjes38"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"points\": [\n    {\n      \"id\": $json.id,\n      \"vector\": {\n        \"degault\": $json.embedding\n      },\n      \"payload\": {\n        \"text\": $json.chunk\n      }\n    }\n  ]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        336
      ],
      "id": "a3fc8172-5ff7-400d-af7d-dd40b968b3f1",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e5d99c9c-fc4a-4598-bb19-4498587b37a9",
  "meta": {
    "instanceId": "e06569a44ea2bbd798acbe9de744fc7dadc781d2454bd7dafab81f1870deb1b1"
  },
  "nodeGroups": [],
  "id": "wHUvyeyoSS87eVO9",
  "tags": []
}